<section class="about-me" id="about">
  <div class="container">
    <div class="about-me__container">
      <h2 class="about-me__title">About <span class="text__color">me</span></h2>
      <div class="about-me__box">
        <div class="about-me__box-foto">
          <img
            srcset="
              ./images/about-me/about-me-desctop-1x.jpg 1x,
              ./images/about-me/about-me-desctop-2x.jpg 2x
            "
            src="../images/about-me/about-me-desctop-2x.jpg"
            alt="My foto"
            width="340"
            class="about-me__my-foto"
          />
        </div>
        <div class="about-me__bio">
          <h3 class="about-me__subtitle">bio</h3>
          <ul class="about-me__bio-list">
            <li class="about-me__bio-text p-l">
              I'm Lloyd Jefferson, a talented programmer specializing in
              software development. My expertise spans various programming
              languages and technologies, and I am dedicated to continually
              enhancing my skills. I thrive on seeking unconventional and
              creative solutions to problems, leveraging a high level of
              analytical skills to effectively tackle even the most challenging
              tasks.
            </li>
            <li class="about-me__bio-text p-l">
              Adaptable to both independent and team-oriented work, I
              collaborate seamlessly with colleagues, exchanging ideas and
              finding optimal solutions. My professional maturity enables me to
              navigate challenges and stressful situations with a calm demeanor,
              maintaining a consistently high quality of work. Committed to
              self-improvement, I actively engage in studying new technologies
              and practices to stay current with the latest innovations in the
              field.
            </li>
          </ul>
        </div>
        <div class="about-me__education-title-container">
          <h3 class="about-me__subtitle">education</h3>
          <ul class="about-me__list">
            <li class="about-me__item p-l">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="about-me__item p-l">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="about-me__item p-l">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
        <div class="about-me__role-container">
          <h3 class="about-me__subtitle">role</h3>
          <ul class="about-me__list">
            <li class="about-me__item p-l">Frontend development</li>
            <li class="about-me__item p-l">HeadlessCMS, Wordpress</li>
            <li class="about-me__item p-l">Blender (enjoy)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
