<section class="benefits">
  <div class="container">
    <div class="benefits__content">
      <h2 class="benefits__title">
        <span class="text__color">Benefits</span> of working with me
      </h2>
      <ul class="benefits__list">
        <li class="benefits__item">
          <svg class="benefits__item-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
          <p class="benefits__item-title p-caption">Expertise</p>
          <p class="benefits__item-text p-l">
            With extensive experience in development, I have a deep
            understanding of programming and website development.
          </p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__item-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-message"></use>
          </svg>
          <p class="benefits__item-title p-caption">Communication</p>
          <p class="benefits__item-text p-l">
            Understanding your needs and wants is my priority and I am always
            available for discussions and open to corrections.
          </p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__item-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-brush"></use>
          </svg>
          <p class="benefits__item-title p-caption">Art</p>
          <p class="benefits__item-text p-l">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__item-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-hourglass"></use>
          </svg>
          <p class="benefits__item-title p-caption">Urgent execution</p>
          <p class="benefits__item-text p-l">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
