<section class="faq">
  <div class="container">
    <div class="faq__content">
      <h2 class="faq__title">
        frequently asked <span class="text__color">question</span>
      </h2>
      <ul class="faq__accordion-container">
        <!-- 1 -->
        <li class="faq__acc-item is-active js-enabled" id="ac-0">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              What programming languages ​​are most often used in your project?
              <svg class="faq__acc-svg">
                <use href="./images/icons.svg#icon-arr-down"></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: auto"
          >
            <p class="faq__acc-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <!-- 2 -->
        <li class="faq__acc-item js-enabled" id="ac-1">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              What are the deadlines for the project?
              <svg class="faq__acc-svg">
                <use
                  href="./images/icons.svg#icon-arr-down"
                  width="12px"
                  height="6px"
                ></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: 0px"
          >
            <p class="faq__acc-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <!-- 3 -->
        <li class="faq__acc-item js-enabled" id="ac-2">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              What payment methods do you accept?
              <svg class="faq__acc-svg">
                <use
                  href="./images/icons.svg#icon-arr-down"
                  width="12px"
                  height="6px"
                ></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: 0px"
          >
            <p class="faq__acc-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <!-- 4 -->
        <li class="faq__acc-item js-enabled" id="ac-3">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              How can I contact you?
              <svg class="faq__acc-svg">
                <use
                  href="./images/icons.svg#icon-arr-down"
                  width="12px"
                  height="6px"
                ></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: 0px"
          >
            <p class="faq__acc-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <!-- 5 -->
        <li class="faq__acc-item js-enabled" id="ac-4">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              Do you provide advice or support?
              <svg class="faq__acc-svg">
                <use
                  href="./images/icons.svg#icon-arr-down"
                  width="12px"
                  height="6px"
                ></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: 0px"
          >
            <p class="faq__acc-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <!-- 6 -->
        <li class="faq__acc-item js-enabled" id="ac-5">
          <h3 class="faq__acc-header">
            <button
              class="faq__acc-trigger"
              type="button"
              aria-disabled="false"
              aria-expanded="false"
            >
              What does the process of developing a software product look like
              from idea to implementation?
              <svg class="faq__acc-svg">
                <use
                  href="./images/icons.svg#icon-arr-down"
                  width="12px"
                  height="6px"
                ></use>
              </svg>
            </button>
          </h3>
          <div
            class="faq__acc-panel"
            style="transition-duration: 600ms; height: 0px"
          >
            <p class="faq__acc-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
