<section class="my__projects" id="my-projects">
  <div class="container">
    <div class="my__projects__container">
      <h2 class="projects__title">
        my <span class="text__color">projects</span>
      </h2>

      <ul class="project__list">
        <li class="project__item">
          <img
            srcset="
              /images/my-project/wallet-1x.jpg 1x,
              /images/my-project/wallet-2x.jpg 2x
            "
            src="/images/my-project/wallet-1x.jpg"
            alt="Wallet webservice"
            class="project__image"
          />
          <div class="project__info">
            <p class="project__tech__stack p-l">
              React, JavaScript, Node JS, Git
            </p>
            <div class="project__info__item">
              <h3 class="project__subtitle">Wallet webservice</h3>
              <a
                href="https://github.com/Yeromin1/project-DevStudents-JS/"
                class="visit__btn"
                target="_blank"
                >visit
                <svg class="project__svg" width="15" height="15">
                  <use href="/images/icons.svg#icon-arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="project__item">
          <img
            srcset="
              /images/my-project/green-harvest-1x.jpg 1x,
              /images/my-project/green-harvest-2x.jpg 2x
            "
            src="/images/my-project/green-harvest-1x.jpg"
            alt="Green harvest webservice"
            class="project__image"
          />
          <div class="project__info">
            <p class="project__tech-stack p-l">
              React, JavaScript, Node JS, Git
            </p>
            <div class="project__info__item">
              <h3 class="project__subtitle">Green harvest online store</h3>
              <a
                href="https://github.com/Yeromin1/project-DevStudents-JS"
                class="visit__btn"
                target="_blank"
                >visit
                <svg class="project__svg" width="15" height="15">
                  <use href="/images/icons.svg#icon-arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="project__item">
          <img
            srcset="
              /images/my-project/english-exellence-1x.jpg 1x,
              /images/my-project/english-exellence-2x.jpg 2x
            "
            src="/images/my-project/english-exellence-1x.jpg"
            alt="English Exellence webservice"
            class="project__image"
          />
          <div class="project__info">
            <p class="project__tech__stack p-l">
              React, JavaScript, Node JS, Git
            </p>
            <div class="project__info__item">
              <h3 class="project__subtitle">English Exellence webservice</h3>
              <a
                href="https://github.com/Yeromin1/project-DevStudents-JS"
                class="visit__btn"
                target="_blank"
                >visit
                <svg class="project__svg" width="15" height="15">
                  <use href="/images/icons.svg#icon-arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>

      <div class="buttons">
        <button
          type="button"
          id="load-more"
          class="load__more current p-m"
          tabindex="-1"
        >
          Load More
        </button>

        <button
          type="button"
          id="hide-projects"
          class="hide__projects current p-m"
          style="display: none"
        >
          Hide Projects
        </button>
      </div>
    </div>
  </div>
</section>
