<section class="work-together section" id="work">
  <div class="container">
    <div class="work-together__content">
      <h2 class="work-together__header">
        let’s <span class="text__color">work together</span>
      </h2>
      <p class="work-together__text p-caption">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="work-together__list">
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-phone"></use>
          </svg>
          <a class="work-together-list__link" href="tel:+380904567890"
            >+38 090 456 78 90</a
          >
        </li>
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-mail"></use>
          </svg>
          <a
            class="work-together-list__link"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="work-together__item">
          <svg class="work-together-list__svg" width="24" height="24">
            <use href="/images/icons.svg#icon-map"></use>
          </svg>
          <span class="work-together-list__link work-together-list__map"
            >USA, New York</span
          >
        </li>
      </ul>

      <form class="work-together__form">
        <div class="work-together__input-container">
          <input
            class="form__email p-l"
            type="email"
            name="form-email"
            placeholder="Your email*"
            autocomplete="off"
          />

          <svg class="form__svg-check-right" width="16" height="16">
            <use href="/images/icons.svg#icon-success"></use>
          </svg>
          <p class="form__email-check-wrong">Invalid email, try again</p>
        </div>

        <textarea
          class="form__textarea p-l"
          name="form-textarea"
          placeholder="Message"
          rows="4"
          required
        ></textarea>

        <button class="btn form__btn" type="submit">send message</button>
      </form>

      <div class="work-together__modal-part"></div>
    </div>
  </div>
</section>
